{% extends "my_admin\base.html" %}

{% block title %}
    All Products
{% endblock title %}

{% block content %}
    <div class="">
        <p class="h2 bg-success text-white text-center py-2 rounded mb-3">All Products</p>
        <a href="{% url 'products:add-product' %}" class="btn btn-info mb-3">Add new Product</a>
        
        <div class="mt-0 row gap-3">
            {% for data in products %}
                {% include "components/_single_product.html" with product=data %}
            {% endfor %}
        </div>

    </div>
{% endblock content %}