{% extends "my_admin\base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Select Product type
{% endblock title %}

{% block content %}
    <div class="">
        <p class="h2 bg-success text-white text-center py-2 rounded mb-3">Select product type</p>

        <a href="{% url 'products:list-product' %}" class="btn btn-warning mb-3"><i class="fa-solid fa-caret-left"></i> Go Back</a>
        
        <div class="row g-3">

            {% for data in types %}
            
                {% include "my_admin/components/_type.html" with type=data %}
            
            {% endfor %}
            
        </div>
    </div>
{% endblock content %}