{% extends "my_admin/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}

<div class="mb-5">
    <p class="h2 bg-success text-white text-center py-2 rounded mb-3">Change Password</p>
        
    <div class="row">
        
        <div class="col-8 col-md-6 col-lg-5 my-2 py-3 px-4 rounded-3">
            {% comment %} form container {% endcomment %}
            <div class="">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary w-auto mt-0" type="submit"><i class="fa-solid fa-floppy-disk"></i> Change password</button>
                        <a class="d-inline-block btn btn-warning ms-1" href="{% url 'user:user-login' %}"><i class="fa-solid fa-ban"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}