{% extends "layout.html" %}
{% load brand_tags %}

{% block title %}
Healthcare Solutions Limited
{% endblock title %}

{% block content %}
    {% comment %} hero {% endcomment %}
    <section class="hero my-0">
        <div class="hero-content">
            <p class="h2">Welcome to</p>
            <p class="h2 text-success">Healthcare Solution Ltd.</p>
            <p class="">Explore our products</p>
            <a href="#services" class="btn btn-primary fw-normal">Learn More</a>
        </div>
    </section>

    {% comment %} {% include "components/_brands_category.html" %} {% endcomment %}
    {% show_brands %}
    {% comment %} some products {% endcomment %}
    <section class="products my-0 py-5 rounded">
      <div class="container">
        <div class="row">
          <h2 class="text-center fw-normal display-6 text-success">Some of Our Products</h2>  
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 px-5 my-4">
          
          {% if products %}
          {% for product in products %}
            {% include "components/_single_product.html" with product=product %}
          {% endfor %}
          {% else %}
            <p class="display-2 text-danger">Sorry, Product is empty!</p>
          {% endif %}
          
        </div>
        <div class="row justify-content-center">
          <div class="col text-center">
            {% comment %} <a href="{% url 'products:all-products' slug="" %}" class="btn btn-outline-primary">Show More</a> {% endcomment %}
          </div>
        </div>
      </div>
    </section>

{% endblock content %}