{% extends "my_admin\base.html" %}

{% block title %}
Requested Messages
{% endblock title %}

{% block content %}
<div class="">
    <p class="h2 bg-success text-white text-center py-2 rounded mb-3">List of Received Messages</p>

    {% if messages %}
    <ul class="alert alert-success list-unstyled alert-dismissible fade show" role="alert">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </ul>
    {% endif %}
    
  <!-- Example Data Table -->
  <div class="table-responsive mt-4">
    
    <table class="table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Email address</th>
          <th>Received Date</th>
          <th>Status</th>
          <th>Action Taken</th>
          <th>Open Message</th>
        </tr>
      </thead>
      <tbody>

        {% for item in messagesData %}
        <tr class="{% if item.messageRead == False %} bg-light {% endif %}">
          <td>{% if item.firstName %}{{ item.firstName }} {% else %}Not provided{% endif %} {{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.receivedDate }}</td>
          <td>
            {% if item.messageRead == False %}
              <span class="badge bg-warning">Not Viewed</span>
            {% else %}
              <span class="text-dark">Viewed</span>
            {% endif %}
          </td>
          <td>
            {% if item.status == True %}
              <span class="fw-normal text-success">Replied</span>
            {% else %}
            <span class="badge bg-danger">Not Replied</span>
            {% endif %}
          </td>
          <td class="">
            <a class="btn btn-sm btn-success" title="Click to open message" href="{% url 'contactus:details-msg' id=item.id %}"><i class="fa-solid fa-unlock"></i> Open</a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <!-- Example Data Table end -->
  
  <div class="container row justify-content-center mt-1 pb-3">
    <div class="pagination w-auto">
      <span class="step-links">
        {% if messagesData.has_previous %}
          <a class="text-white py-1 px-3 rounded pagination-items d-inline-block" href="?page=1">&laquo; First</a>
          <a class="text-white py-1 px-3 rounded pagination-items d-inline-block my-1 my-sm-0" href="?page={{ messagesData.previous_page_number }}">Previous</a>
        {% endif %}
  
        <p class="current text-white py-1 px-3 rounded d-inline-block pagination-item me-1 mb-0">
          Page {{ messagesData.number }} of {{ messagesData.paginator.num_pages }}
        </p>
  
        {% if messagesData.has_next %}
          <a class="text-white py-1 px-3 rounded pagination-items d-inline-block my-1 my-sm-0" href="?page={{ messagesData.next_page_number }}">Next</a>
          <a class="text-white py-1 px-3 rounded pagination-items d-inline-block" href="?page={{ messagesData.paginator.num_pages }}">Last &raquo;</a>
        {% endif %} 
      </span>
     </div>
  </div>

</div>
{% endblock content %}