


<div class="col">
    <div class="card py-3 shadow rounded-3 product-hover">
        {% if 'dashboard' in request.path %}
            <a href="{% url 'products:dashboard-details' id=product.id %}" title="Click to open product details">
        {% else %}
            <a href="{% url 'products:details' id=product.id %}" title="Click to open product details">
        {% endif %}
            <img src="{{ product.productImage.url }}" class="card-img-top mb-3 img-fluid" alt="Product image">
            <div class="card-body border-top card-hover">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text lead mb-0">Brand: {{ product.barndName.brandName }}</p>
                <p class="card-text lead mt-0">Country: {{ product.barndName.country }}</p>
            </div>
        </a>
    </div>
</div>