{% extends "layout.html" %}
{% load brand_tags %}
{% load custom_filters %}

{% block title %}
List of all products
{% endblock title %}

{% block content %}

 <section class="product-brand my-0 p-5 rounded-3">
    <div class="container">
      <div class="row">
        <h2 class="display-6 fw-normal text-success brands text-center">Categories of {{ type }}</h2>
      </div>
  
      <div class="row">
        {% if categories %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 justify-content-center">
            {% for category in categories %}
              <div class="col brand-card">
                <div class="card text-center">
                  <a href="{% url 'products:category-products' categoryId=category.id %}">
                    <div class="card-body {% if request.path|contains:category.id %}brand-card-body{% endif %}">
                      <h5 class="card-title">{{ category.categoryName }}</h5>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="display-3 text-danger text-center">No category available!</p>
        {% endif %}
      </div>
      
    </div>
  </section>

    {% comment %} some products {% endcomment %}
    <section class="products mb-5 py-5 rounded">
        <div class="container">
            <div class="row mb-5">
                <h3 class="text-center fw-bolder orange-span">{{ title }}</h3>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% comment %} Single product will render dynamically {% endcomment %}
                {% if products %}
                    {% for product in products %}
                        {% include "components/_single_product.html" with product=product  %}
                    {% endfor %}
                {% else %}
                    <p class="display-3 text-danger">No data!</p>
                {% endif %}
            </div>
        </div>
    </section>
    
{% endblock content %}